[submodule "clean-house-front"]
	path = clean-house-front
	url = git@github.com:yovasx2/clean-house-front
[submodule "clean-house-back"]
	path = clean-house-back
	url = git@github.com:yovasx2/clean-house-back
